body {
    margin: 0px 0px 5px 0px;
}

nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    color: rgb(239, 91, 91);
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
}

.navLogo {
    width: 50px;
    padding: 10px;
}

.navDesign {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: rgb(239, 111, 111);
}

button {
    padding: 10px 25px 10px 25px;
    font-size: large;
}

.backToShoes {
    padding: 10px;
    /* margin: 20px 15px 0px 175px; */
    background: none;
    border: none;
    color: white;
}

#converseImg {
    width: 550px;
    /* width: 80%; */
    /* margin: 50px 15px 50px 175px; */
}

.productInfo {
    color: red;
    display: flex;
    border-bottom: rgb(225, 144, 144) solid;
    margin: 25px 175px 0px 175px;
    justify-content: space-between;
}

h4,
h5,
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.quickSneakContainer {
    background: linear-gradient(to right, rgb(216, 87, 108), red);
    color: white;
    display: flex;
    line-height: 2;
    align-content: space-around;
    padding: 50px 175px;
    gap: 20px;
}

.backToShoes:hover {
    color: rgb(174, 167, 167)
}

.quickSneak {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quickSneakCTA {
    display: flex;
    align-items: center;
    gap: 30px;
}

#buyButton {
    color: rgb(182, 43, 43);
    border-radius: 3px;
    border: none;
    width: 150px;
    height: 50px;
    transition-duration: 0.4s;
}

#buyButton:hover {
    background-color: rgb(165, 18, 18);
    color: white;
}

.excitingTopic {
    margin: 25px 175px 50px 175px;
    color: rgb(44, 41, 41)
}

.recShoesTitle {
    background: rgb(242, 206, 212);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 100;
}

.recShoes {
    background-color: red;
    background: linear-gradient(to right, rgb(216, 87, 108), red);
    color: white;
    display: flex;
    font-size: 22px;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    line-height: 0px;
    align-content: space-evenly;
}

.recShoesImg {
    width: 275px;
    padding: 40px 30px 0px 30px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.springSummer {
    color: rgb(165, 18, 18);
    font-size: 15px;
    padding-top: 0px;
    margin-top: 0px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 25px;
    font-size: 13px;
    word-spacing: 5px;
}

#footerMenu {
    display: flex;
    align-items: center;
}

@media (max-width: 960px) {
    .recShoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quickSneak {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    #converseImg {
        /* width: 220px; */
        height: auto;

    }

    #quickSneakText {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

}

@media (max-width: 390px) {

    .navDesign {
        display: flex;
        flex-direction: column;
    }

    #converseImg {
        width: 80%;
        height: auto;
        margin: 0px;
    }

    .quickSneakContainer {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .quickSneak {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        padding: 0px;
    }

    #quickSneakText {
        margin: 15px;
        /* display: flex;
        justify-content: center; */
    }

    .quickSneakCTA {
        margin: 15px;
    }

    .productInfo {
        margin: 15px;
    }

    .excitingTopic {
        margin: 15px;
        justify-content: space-evenly;
    }

}